.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.wrapper main {
  height: 440px;
  width: 300px;
  position: relative;
}

.wrapper button {
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper .box {
  height: 440px;
  width: 300px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  opacity: 1;
  transition: all ease 0.5s;
}

.box.pos-0 {
  transform: rotate(0deg);
  z-index: 10;
}
.box.pos-1 {
  transform: rotate(5deg);
  z-index: 9;
}
.box.pos-2 {
  transform: rotate(10deg);
  z-index: 8;
}
.box.pos-3 {
  transform: rotate(15deg);
  z-index: 7;
}
.box.pos-4 {
  transform: rotate(20deg);
  z-index: 6;
}
.box.pos-5 {
  transform: rotate(25deg);
  z-index: 5;
}
.box.pos-6 {
  transform: rotate(30deg);
  z-index: 4;
}
.box.pos-7 {
  transform: rotate(35deg);
  z-index: 3;
}
.box.pos-8 {
  transform: rotate(40deg);
  z-index: 2;
}
.box.pos-9 {
  opacity: 0;
  transform: rotate(45deg);
  z-index: 1;
}

.box.close {
  transform: rotate(-90deg);
  opacity: 0;
}
